# Global
.DS_Store
Thumbs.db
*.log

# Editors
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Dart / Flutter (any subproject)
**/.dart_tool/
**/.packages
**/build/
**/coverage/
**/pubspec_overrides.yaml
**/.flutter-plugins
**/.flutter-plugins-dependencies
