# Dart / Flutter
.dart_tool/
.packages
build/
coverage/
pubspec_overrides.yaml

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Android signing files
*.jks
*.keystore
android/key.properties

# IDE and OS files
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.DS_Store
Thumbs.db

# Logs
*.log
